.history-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.btn-search {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-search:hover {
  background-color: #0056b3;
}

.ordenar-group {
  margin-top: 20px;
}

.ordenar-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.historico-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.historico-item {
  background: #dfe2e2;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.historico-item:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.card-header p {
  margin: 5px 0;
  font-size: 14px;
}

.card-content {
  margin-top: 15px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card-grid div p {
  margin: 5px 0;
  font-size: 14px;
}

.additional-info {
  margin-top: 15px;
  text-align: center;
}

.additional-info img {
  max-width: 64px;
  height: auto;
  margin: 10px 0;
}

.toggle-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
}

.toggle-button:hover {
  background: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination-button {
  width: auto;
  min-width: 30px;
  padding: 5px 10px;
  background-color: white;
  color: #3498db;
  font-size: 0.9rem;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-button.active {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
}

.pagination-button:hover {
  background-color: #0056b3;
  color: white;
}

.pagination-button:disabled {
  background-color: #f2f2f2;
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
